html, body {
  color: rgb(32, 230, 158);
  background-color: rgb(57, 0, 85);
  height: 100%;
  padding: 5px;
  margin: 0px;
  font-family: 'Roboto', helvetica, sans-serif;

}

.body-area {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";

}

header {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  grid-area: h;

}

header > h1 {
  font-size: 4em;
  margin-top: 5px;
  margin-bottom: -2px;
}

header > h2 {
  font-weight: 100;
  font-size: 1.2em;
  font-kerning: normal;
}

content {
  grid-area: c;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: f;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', helvetica, sans-serif;
}

footer a:link {
  text-decoration: none;
  font-size: 1em;
  color: rgb(32, 230, 158);
  display: flex;
  justify-content: right;
}

footer a:hover {
  color: rgb(120, 251, 204);
}

#footer-txt {
  font-size: .7em;
  bottom: 0px;
  position: absolute;
}


#written-blur {
  filter: blur(2.9px);
  position: relative;
  max-width: 600px;
  display: inline;
  font-size: 15px;
  font-family: helvetica;
  outline: 0px;



}

#writer {
  position: relative;
  min-width: 60px;
  height: 45px;
  padding: 0px;
  margin: 0px;
  display: inline;
  font-size: 15px;
  font-family: helvetica;
  outline: 0px;



}

.body-content {
 width: 45%;
 font:
}

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: 10px auto 85px;
  grid-template-columns: repeat(12, 1fr);
}

.container {

  background-color:#29003E;
    margin: auto;
    left: 0;
    right: 0;
    padding: 5px;
    height: 100%;
    width: 600px;
    overflow: scroll;
    grid-column: 1/span 12;
    grid-row: 2;

  }
  #tool-box {
    position: absolute;
    width: 100%;
    justify-content: center;
  }
  #tools {
    display: none;
    position: relative;
  }

  #tools-animate {
    position: relative;
    animation-name: dropdown;
    animation-duration: 1.2s;
    display: flex;
    justify-content: center;

  }

  #tools-out {
    position: relative;
    animation-name: pullup;
    animation-duration: 2s;
    display: flex;
    justify-content: center;
  }

  @keyframes dropdown {
    0% {top: -83px;}
    100% {top: 0px;}
  }

  @keyframes pullup {
    0% {top: 0px;}
    100% {top: -83px;}
  }

  .lower-third {
    display: flex;
    grid-row: 3;
    grid-column: 1 / span 12;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    margin: 15px;

  }

  button {
    color: rgb(57, 0, 85);
    background-color:rgb(32, 230, 158);
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 10px 0px;
    outline: 0px;

    height: 45px;
  }
  button:hover {
    background-color:rgb(120, 251, 204);
    outline: 0px;
  }



}
