#written-blur {
  filter: blur(2.9px);
  position: relative;
  max-width: 600px;
  display: inline;
  font-size: 15px;
  font-family: helvetica;
  outline: 0px;



}

#writer {
  position: relative;
  min-width: 60px;
  height: 45px;
  padding: 0px;
  margin: 0px;
  display: inline;
  font-size: 15px;
  font-family: helvetica;
  outline: 0px;
}


@media screen and (max-width: 768px) {
  html {
    padding: 0px;
  }
  body {
    padding: 0px;
  }
  .container {
    width: 100%;
    padding: 0px;
  }

}

#tool-box {
  position: absolute;
  width: 100%;
  justify-content: center;
}
#tools {
  display: none;
  position: relative;
}

#tools-animate {
  position: relative;
  animation-name: dropdown;
  animation-duration: 1.2s;
  display: flex;
  justify-content: center;

}

#tools-out {
  position: relative;
  animation-name: pullup;
  animation-duration: 2s;
  display: flex;
  justify-content: center;
}

@keyframes dropdown {
  0% {top: -83px;}
  100% {top: 0px;}
}

@keyframes pullup {
  0% {top: 0px;}
  100% {top: -83px;}
}

.lower-third {
  display: flex;
  grid-row: 3;
  grid-column: 1 / span 12;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  margin: 15px;

}
